<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="love">

        <div class="inp">
            <p class="title">520&nbsp;在一起</p>
            <label for="one">
                <i class="iconfont">
                    &#xe649;</i>
                <input type="text" id="one" placeholder="请输入姓名">
            </label>
            <label for="two">
                <i class="iconfont">
                    &#xe648;</i>
                <input type="text" id="two" placeholder="请输入姓名">
            </label>
            <input type="button" class="go-hide" value="GO">
        </div>
        <div class="like">
            <p>在一起</p>
            <div class="other-like">
                <p></p>
            </div>
        </div>
        <div class="unlike">不要</div>
    </div>
</body>

</html>